/* Footer */
footer {
    clear: both;
    padding-top: 1em;
    padding-bottom: 2em;
}

/* Footer navigation links */
.links a {
    margin-right: 1em;
}

/* Footer copyrights */
.copy {
    color: #aaa;
    text-align: center;
}
